__pycache__
*.log
.ipynb_checkpoints
*egg*
build
notebooks/*html
notebooks/styles
fcn*
heasoftpy/_modules.py
heasoftpy/attitude
heasoftpy/calet
heasoftpy/demo
heasoftpy/ftools
heasoftpy/heacore
heasoftpy/heagen
heasoftpy/heasim
heasoftpy/heasptools
heasoftpy/heatools
heasoftpy/hitomixrism
heasoftpy/integral
heasoftpy/ixpe
heasoftpy/maxi
heasoftpy/nicer
heasoftpy/nustar
heasoftpy/suzaku
heasoftpy/swift
heasoftpy/Xspec
